@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.roboto, body {
  font-family: 'Roboto', sans-serif; }

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #263238;
  color: #fff; }

.main {
  width: 100%; }
  .main #search-bar {
    width: 50%;
    margin: 0 auto;
    height: 45px; }
    .main #search-bar input {
      height: inherit;
      width: 100%;
      background: #304047;
      box-shadow: none;
      border: none;
      text-align: center;
      border-radius: 6px;
      outline: none;
      padding: 7px 14px;
      font-size: 18px;
      color: #fff; }
      .main #search-bar input:focus {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
