@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.roboto, body {
  font-family: 'Roboto', sans-serif; }

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212121;
  color: #fff; }

.main {
  width: 100%;
  text-align: center; }
  .main #message {
    padding-bottom: 25px; }
  .main #search-bar {
    width: 50%;
    margin: 0 auto;
    height: 45px; }
    .main #search-bar input {
      height: inherit;
      width: 100%;
      background: #2e2e2e;
      box-shadow: none;
      border: none;
      text-align: center;
      border-radius: 6px;
      outline: none;
      padding: 7px 14px;
      font-size: 18px;
      color: #fff; }
      .main #search-bar input:focus {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .main #other-content {
    margin: 20px auto;
    padding: 10px 0; }
    .main #other-content .sqr {
      display: inline-block;
      margin: 20px 5px 0 5px;
      width: 200px;
      background: #2e2e2e;
      padding: 20px 15px;
      border-radius: 6px;
      min-height: 150px; }
      .main #other-content .sqr:hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .main #other-content .sqr a {
        color: #9E9E9E;
        font-size: 16px;
        transition: .1s ease-in;
        display: block; }
        .main #other-content .sqr a:hover {
          color: #fff;
          text-decoration: none;
          transition: .1s ease-in; }
    .main #other-content .media h4, .main #other-content .media a:hover {
      color: #4DD0E1; }
    .main #other-content .work h4, .main #other-content .work a:hover {
      color: #F06292; }
    .main #other-content .social h4, .main #other-content .social a:hover {
      color: #FFF176; }
    .main #other-content .others h4, .main #other-content .others a:hover {
      color: #81C784; }
